<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Check-in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
   <ion-row align-items-center style="height: 100%">
        <ion-col>
            {{ question }}
            <form [formGroup]="checkInForm" (ngSubmit)="checkIn()">
                <ion-item>
                    <ion-label floating>{{ label }}</ion-label>
                    <ion-input type="{{ type }}" formControlName="ans"></ion-input>
                </ion-item>
                <button ion-button block icon-left type="submit">
                    <ion-icon name="thumbs-up"></ion-icon>
                    Check-in
                </button>
            </form>
        </ion-col>
   </ion-row>
</ion-content>