<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quiz o Jaśku</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <p>Jako że świętujemy dziś ślub Patrycji i Jaśka, wypada też poświęcić
    chwilę uwagi państwu młodym. Teraz w związku z tym rozwiążecie quiz o
    Jaśku. Powodzenia.</p>
    <form [formGroup]="quizFormGroup" (ngSubmit)="solvedPuzzles()">
        <ion-card>
            <img src="assets/img/jasiek-quiz/pic1.jpg"/>
            <img src="assets/img/jasiek-quiz/pic2.jpg">
            <ion-card-content>
                Na którym z przedstawionych powyżej zdjęć można rozpoznać
                Jaśka?
            </ion-card-content>
            <ion-list radio-group formControlName="p1">
                <ion-item>
                    <ion-label>Na pierwszym</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na drugim</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na obu</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na żadnym</ion-label>
                    <ion-radio value="4"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p1" correct="1">
            Na pierwszym zdjęciu widzimy Jaśka w bardzo gustownym wdzianku, w
            które dzisiaj się już raczej nie zmieści. Na drugim zażywa kąpieli
            jego brat, Kuba.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Która książka jest Jaśka ulubioną?
            </ion-card-content>
            <ion-list radio-group formControlName="p2">
                <ion-item>
                    <ion-label>„Mały Książę” Antoinego de Saint-Exupéry</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>„Dziennik 1954” Leopolda Tyrmanda</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>„Matematyka Konkretna” Donalda Knutha</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p2" correct="2">
            „Dziennik 1954” polecamy. Pozostałe dwie książki są Jaśka
            zdaniem mocno przereklamowane.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Dokąd Jasiek zabrał Patrycję na pierwszą „randkę”.
            </ion-card-content>
            <ion-list radio-group formControlName="p3">
                <ion-item>
                    <ion-label>Do winiarni</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>W góry</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Do ZOO</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p3" correct="3">
            Gdy Patrycja pierwszy raz odwiedziła Jaśka we Wrocławiu –
            a było to w marcu 2015 r. – okazało się, że jeszcze nigdy
            nie widziała na żywo żyrafy. Postanowili więc nadrobić tę lukę.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Kiedy upływa termin ważności Jaśka paszportu?
            </ion-card-content>
            <ion-list radio-group formControlName="p4">
                <ion-item>
                    <ion-label>16 grudnia 2016</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>16 czerwca 2017</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>16 listopada 2017</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p4" correct="2">
            To pytanie wiąże się z pamiętnym wyjazdem Patrycji i Jaśka na
            sylwestra 2016/2017 do Izraela. Okazało się, że Jaśka paszport
            jest ważny przez mniej niż pół roku od dnia wyjazdu, więc linia
            lotnicza nie wpuściła go do samolotu.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Kiedy Jasiek po raz pierwszy ubrał się w garnitur?
            </ion-card-content>
            <ion-list radio-group formControlName="p5">
                <ion-item>
                    <ion-label>Na maturę</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na bal Skolimowski dwa lata temu</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Dzisiaj, na swój ślub</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p5" correct="2">
            Okazuje się, że człowiek dość oporny na presję systemu edukacji
            nie potrafi się jednak sprzeciwić oczekiwaniom kobiety. Jasiek
            niechętnie ubrał się w garnitur i poszedł na bal, a dziś także
            wolałby wystąpić w jeansach.
        </verdict-card>
        <button ion-button block [disabled]="!quizFormGroup.valid" type="submit" icon-left>
            <ion-icon name="thumbs-up"></ion-icon>
            Rozwiązaliśmy
        </button>
    </form>

</ion-content>