ion-card.danger {
    background-color: map-get($colors, danger );
    color: #fff;
    ion-card-header {
        color: #fff;
    }
}

ion-card.success {
    background-color: map-get($colors, secondary);
    color: #fff;
    ion-card-header {
        color: #fff;
    }
}