<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dama z Łasiczką</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <p>Wejdźcie teraz do budynku muzeum. W kopertach w waszych torbach
    znajdziecie bilety na Damę z Gronostajem (koperta nr 1). Pójdźcie
    obejrzeć obraz, a następnie wypełnijcie poniższy quiz.</p>

    <form [formGroup]="puzzlesFormGroup" (ngSubmit)="solvedPuzzles()">
        <ion-card>
            <ion-card-content>
                <p>Jak miała na imię pani przedstawiona na obrazie?</p>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Imię pani z obrazu</ion-label>
                        <ion-input type="text" formControlName="p1"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <p>Kto sprowadził obraz do Polski?</p>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Imię (lub imiona) i Nazwisko</ion-label>
                        <ion-input type="text" formControlName="p2"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <p>W lewym górnym rogu widnieje (nieoryginalny) podpis twórcy.
                Jak jest podpisany Leonardo?</p>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Podpis Leonarda z obrazu</ion-label>
                        <ion-input type="text" formControlName="p3"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <p>Jakie wymiary ma obraz? Można pomylić się o 15%</p>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Wysokość (cm)</ion-label>
                        <ion-input type="number" formControlName="p41"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Szerokość (cm)</ion-label>
                        <ion-input type="number" formControlName="p42"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <p>W którym roku powstał obraz? Można pomylić się o 5 lat.</p>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Rok powstania</ion-label>
                        <ion-input type="number" formControlName="p5"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <button ion-button block [disabled]="!puzzlesFormGroup.valid" type="submit" icon-left>
            <ion-icon name="thumbs-up"></ion-icon>
            Rozwiązaliśmy
        </button>
    </form>

</ion-content>