<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quiz o Patrycji</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <p>Jako że świętujemy dziś ślub Patrycji i Jaśka, wypada też poświęcić
    chwilę uwagi państwu młodym. Czas w związku z tym nadszedł, byście
    rozwiązali quiz o Pannie Młodej. Powodzenia.</p>
    <form [formGroup]="quizFormGroup" (ngSubmit)="solvedPuzzles()">
        <ion-card>
            <img src="assets/img/patka-quiz/pic1.jpg"/>
            <img src="assets/img/patka-quiz/pic2.jpg"/>
            <ion-card-content>
                Na którym z przedstawionych powyżej zdjęć można rozpoznać
                Patrycję?
            </ion-card-content>
            <ion-list radio-group formControlName="p1">
                <ion-item>
                    <ion-label>Na pierwszym</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na drugim</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na obu</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Na żadnym</ion-label>
                    <ion-radio value="4"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p1" correct="3" image="assets/img/patka-quiz/julita.jpg">
            Na obu zdjęciach widzimy naszą – dziś już bardziej wyrośniętą –
            Patrycję. Zadanie nie jest jednak łatwe. Mogliśmy w końcu
            umieścić w zagadce też poniższą fotografię, na której jest
            Julita – dzisiaj świadek na ślubie.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Który film jest Patrycji ulubionym?
            </ion-card-content>
            <ion-list radio-group formControlName="p2">
                <ion-item>
                    <ion-label>„Nędznicy”</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>„Istota”</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>„Noc oczyszczenia”</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p2" correct="1">
            Tu nie może być wątpliwości. Patrycja wzrusza się niezmiennie
            oglądając „Nędzników”, mimo że zna ten film już na pamięć. Na
            „Istotę” Patrycja poszła z klasą gimnazjalną w nagrodę za
            pierwsze miejsce w konkursie klas. To był – jak mówi –
            najbardziej obrzydliwy film jaki widziała w życiu.
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Z jakiej organizacji nasza Panna Młoda została wyrzucona?
            </ion-card-content>
            <ion-list radio-group formControlName="p3">
                <ion-item>
                    <ion-label>Ze studiów</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Z harcerstwa</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Ze scholi</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p3" correct="3">
            <p>Jedyną nam znaną osobą wyrzuconą z harcerstwa jest Jakub Górniak
            (pozdrawiamy), a relegowanie z uczelni Patrycji jest po prostu nie
            do pomyślenia - bardzo pilny był z niej student.</p>
            <p>Po dwóch latach śpiewania w dominikańskim duszpasterstwie
            kantorzy postanowili Patrycji podziękować. Zupełnie nie wiemy
            dlaczego. Może po prostu dlatego, że to Dominikanie 😉</p>
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Podczas szczytu NATO w Warszawie Patrycja wzbudziła uwagę policji niosąc ze sobą…
            </ion-card-content>
            <ion-list radio-group formControlName="p4">
                <ion-item>
                    <ion-label>Granaty w torebce</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Wielką pustą czerwoną walizkę</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Etui po roll-upie</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p4" correct="2">
            <p>Niektórych mogą zmylić granaty w torebce, gdyż czasem
            Patrycji się zdarza je tak przewozić. Tym razem stawiła na
            bardziej konwencjonalne uzbrojenie.</p>
            <p>Szczyt NATO zbiegł się w czasie z przeprowadzką Patrycji do
            Warszawy. Nic zatem dziwnego, że na trasie Kraków–stolica
            kursowała z wielkimi walizkami – w jedną stronę pustymi.
            Tajniacy jednak w to alibi za bardzo nie chcieli uwierzyć.
            Na szczęście nie zechcieli zajrzeć do środka, bo – jak się
            potem okazało – był tam wyłącznie scyzoryk.</p>
            <p>Z kolei w etui po roll-upie Patrycja lubi przewozić dla
            niepoznaki granatnik jednorazowy. W lipcu jednak nie miała
            jeszcze tego w zwyczaju.</p>
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Jak przezywano Patrycję w gimnazjum?
            </ion-card-content>
            <ion-list radio-group formControlName="p5">
                <ion-item>
                    <ion-label>Kiełbasa</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Koza</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Kotlet</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p5" correct="1">
            <p>Wszystko z powodu trudnego nazwiska. Katecheta w pośpiechu,
            czytając oceny z kartkówki, tak je niefortunnie przekręcił. Na
            szczęście nowe nazwisko Patrycji wydaje się być prostsze.</p>
            <p>Kozą była przezywana w liceum, ponieważ opiekowała się
            uroczą klasową maskotką.</p>
        </verdict-card>
        <ion-card>
            <ion-card-content>
                Jakie jest Patrycji niespełnione marzenie z dzieciństwa?
            </ion-card-content>
            <ion-list radio-group formControlName="p6">
                <ion-item>
                    <ion-label>Szkoła muzyczna</ion-label>
                    <ion-radio value="1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Kurs tańca</ion-label>
                    <ion-radio value="2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Szkółka piłkarska</ion-label>
                    <ion-radio value="3"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <verdict-card [formGroup]="quizFormGroup" form="p6" correct="1">
                Chodzi o szkołę muzyczną. Może gdyby Patrycja uzyskała takie
                wykształcenie, miałaby większe szanse na karierę w chórze.
        </verdict-card>
        <button ion-button block [disabled]="!quizFormGroup.valid" type="submit" icon-left>
            <ion-icon name="thumbs-up"></ion-icon>
            Rozwiązaliśmy
        </button>
    </form>

</ion-content>