<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Zagadki Logiczne</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <p>By otrzymać wskazówki do następnego punktu, musicie zatrzymać
        się na chwilę i rozwiązać parę zagadek logicznych.</p>

    <p>Wspólną areną dla wszystkich poniższych zagadek są dwie planety
    – Oron, zamieszkana przez Oronian, i Seth, zamieszkana przez
    Sethian. Są to bardzo inteligentne istoty, które potrafią
    podróżować z planety na planetę. Jednak gdy mieszkaniec jednej
    planety znajdzie się na drugiej, staje się zupełnie zdezorientowany
    i wszystkie jego przekonania są wtedy błędne. Gdy wraca na swoją
    planetę, jego przekonania stają się z powrotem prawdziwe.</p>
    <form [formGroup]="puzzlesFormGroup" (ngSubmit)="solvedPuzzles()">
        <ion-card>
            <ion-card-content>
                Mieszkaniec jednej z tych planet był kiedyś przekonany,
                że jest Oronianinem i znajduje się na planecie Seth.
                Kim faktycznie był i gdzie przebywał?
            </ion-card-content>
            <ion-list radio-group formControlName="p1">
                <ion-item>
                    <ion-label>Był Oronianinem na Oronie</ion-label>
                    <ion-radio value="oo"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Był Oronianinem na Seth</ion-label>
                    <ion-radio value="os"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Był Sethianinem na Oronie</ion-label>
                    <ion-radio value="so"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Był Sethianinem na Seth</ion-label>
                    <ion-radio value="ss"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Dość częste są mieszane małżeństwa między Oronianami i
                Sethianami. W danym momencie mąż i żona mogą przebywać
                na tej samej lub na różnych planetach. Pewien mężczyzna
                rozmawiał kiedyś przez radio ze swoją żoną, która była
                na innej planecie. „Jesteśmy oboje z Oronu” –
                powiedział. „To nieprawda” – odrzekła żona. Które z
                nich było wtedy na Oronie?
            </ion-card-content>
            <ion-list radio-group formControlName="p2">
                <ion-item>
                    <ion-label>Mąż</ion-label>
                    <ion-radio value="on"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Żona</ion-label>
                    <ion-radio value="ona"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-content>
                Og i Belinda to mieszane małżeństwo – jedno z małżonków jest
                Oronianinem, zaś drugie Sethianinem. W pewnej chwili Og był
                przekonany, że on i jego żona znajdują się na różnych
                planetach. W tej samej chwili Belinda była przekonana, że oboje
                znajdują się na jednej planecie. Kto z nich miał rację.
            </ion-card-content>
            <ion-list radio-group formControlName="p3">
                <ion-item>
                    <ion-label>Og</ion-label>
                    <ion-radio value="og"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Belinda</ion-label>
                    <ion-radio value="be"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <p>– Czy jesteś Oronianinem czy Sethianinem? — spytano kiedyś
                Taka.</p>
                <p>– Jestem z Oronu — odpowiedział.</p>
                <p>— A twoja żona?</p>
                <p>— Moja żona i ja oboje jesteśmy Sethianami.</p>
                <p>1. Czy Tak jest z Oronu czy z Seth? 2. A jego Żona? 3. Na
                jakiej planecie odbyła się ta rozmowa?</p>
            </ion-card-content>
            <ion-list radio-group formControlName="p4">
                <ion-item>
                    <ion-label>1. Z Seth, 2. Z Seth, 3. Na Oronie</ion-label>
                    <ion-radio value="o1"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>1. Z Oronu, 2. Z Seth, 3. Na Seth</ion-label>
                    <ion-radio value="o2"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>1. Z Seth, 2. Z Oronu, 3. Na Oronie</ion-label>
                    <ion-radio value="o3"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>1. Z Seth, 2. Z Oronu, 3. Na Seth</ion-label>
                    <ion-radio value="o4"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <p>Na jednej z planet popełniono kiedyś przestępstwo. Nie
                wiadomo, czy przestępca był Oronianinem czy Sethianinem.
                Wiadomo za to, że nazywał się Murdoch. Odbył się proces.
                Sędzia, prokurator, adwokat i przysięgli byli mieszkańcami
                planety, na której się to działo. Był tylko jeden oskarżony.
                Nie wiadomo, z jakiej planety pochodził, ale należało tylko
                ustalić, czy to on jest Murdochem. Sędzia spytał go: „Czy
                jesteś Oronianinem czy Sethianinem i czy to ty jesteś
                Murdoch?”. Akta sprawy są nieczytelne i wiadomo tylko, że
                oskarżony odpowiedział albo: „Jestem Sethianinem i Murdoch to
                nie ja” albo „Jestem Oronianinem i Murdoch to nie ja”.</p>
                <p>Po usłyszeniu odpowiedzi sędzia wiedział, czy oskarżony to
                Murdoch czy nie. Jak było w rzeczywistości?</p>
            </ion-card-content>
            <ion-list radio-group formControlName="p5">
                <ion-item>
                    <ion-label>Oskarżony to Murdoch</ion-label>
                    <ion-radio value="ta"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Oskarżony to nie Murdoch</ion-label>
                    <ion-radio value="ne"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card>
        <button ion-button block [disabled]="!puzzlesFormGroup.valid" type="submit" icon-left>
            <ion-icon name="thumbs-up"></ion-icon>
            Rozwiązaliśmy
        </button>
    </form>

</ion-content>