<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Origami</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-row align-items-center>
        <ion-col>
            <ion-card>
                <img src="assets/img/origami/zacheta.jpg"/>
                <ion-card-content>
                    Czeka was dość nietypowe zadanie. Będziecie mieli
                    złożyć z papieru tulipany.

                    Porwana Patrycja nagrała dla was instrukcję, którą
                    możecie obejrzeć klikając w poniższy link (wymaga to
                    połączenia z internetem)
                </ion-card-content>
                <a ion-button block icon-left color="danger" href="https://youtu.be/BRF_P5oTKzk" target="_blank">
                    <ion-icon name="play"></ion-icon>
                    Do filmu instruktażowego
                </a>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    Instrukcja obrazkowa
                </ion-card-header>
                <ion-card-content>
                    Jeśli nie macie połączenia z internetem, możecie skorzystać
                    z instrukcji obrazkowej. Miłej zabawy.
                    <img src="assets/img/origami/instr1.jpg" style="max-width: 400px;"/>
                    <img src="assets/img/origami/instr2.jpg" style="max-width: 322px;"/>

                    Gdy tulipany będą już gotowe, nie wyrzucajcie ich — jeszcze
                    się przydadzą.
                    <img src="assets/img/origami/instr3.jpg" style="max-width: 294px;"/>
                    <img src="assets/img/origami/instr4.jpg" style="max-width: 202px;"/>
                </ion-card-content>
            </ion-card>
            <button ion-button block icon-left (click)="doneClicked()">
                <ion-icon name="flower"></ion-icon>
                Gotowe!
            </button>
        </ion-col>
    </ion-row>
</ion-content>