<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Co teraz?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content>
            <p>Dotarliśmy do końca naszej gry miejskiej — przynajmniej jej
            etapu w centrum Krakowa. Następne punkty będą już w pobliżu
            lokacji naszej wieczornej zabawy. Możecie pojechać tam swoimi
            samochodami, taksówkami albo autobusem, a tutaj prezentujemy
            wskazówki dojazdu.</p>

            <p>Gdy dotrzecie, niech Was nie skusi zastawiony stół!
            Jest jeszcze kolejny punkt gry. Przejdźcie na prawą stronę budynku,
            obok stołu i drewnianej wiaty. Tam spotkacie ludzi, którzy dadzą
            wam następne zadanie.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Adres
        </ion-card-header>
        <ion-card-content>
            Ireny Kosmowskiej 12
            <a ion-button icon-left block color="danger" href="http://maps.google.com/maps?f=d&daddr=Ireny+Kosmowskiej+12,+Kraków" target="_blank">
                <ion-icon name="navigate"></ion-icon>
                Nawiguj
            </a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Autobusem
        </ion-card-header>
        <ion-card-content>
            Na przystanek „Kosmowskiej” dojeżdża autobus linii 102.
            Najlepiej wsiąść do niego na przystanku „Cichy Kącik”, który
            znajduje się na końcu Alei 3 maja, którą już znacie, bo przy
            jej początku jest Muzeum Narodowe (tam była Dama z Gronostajem).
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Samochodem
        </ion-card-header>
        <ion-card-content>
            Od Muzeum Narodowego, w którym już byliście, jedźcie ulicą Focha,
            na południe od Błoń, obok stadionu Cracovii.
        </ion-card-content>
        <img src="assets/img/koniec/autem-1.png"/>
        <ion-card-content>
            Ulica Focha przechodzi w Królowej Jadwigi, Junacką i Chełmską.
            Chełmską dojedziecie do dość dziwnego ronda, na którym powinniście
            zjechać na godzinę 10 (<strong>Uwaga: Mapy Google'a błędnie każą
            jechać prosto</strong>).
        </ion-card-content>
        <img src="assets/img/koniec/autem-2.png"/>
        <ion-card-content>
            Kontynuujcie tą uliczką osiedlową (Chełmska, Rzepichy), aż po
            prawej będzie Ireny Kosmowskiej — mała uliczka gruntowa.
            Na jej końcu będzie można zaparkować.
        </ion-card-content>
    </ion-card>
</ion-content>