<ion-content>
    <ion-slides pager>
        <ion-slide>
            <h2>Witamy drogich uczestników gry miejskiej.</h2>
            <div class="start-logo">
                <img src="assets/img/start-page/logo-start.png"/>
            </div>
            <ion-card *ngIf="swcompatible && !swactive" class="start-page-danger">
                <ion-row>
                    <ion-col col-10 text-left>Aplikacja nie jest jeszcze dostępna offline</ion-col>
                    <ion-col text-center align-self-center><ion-icon name="cloud-download"></ion-icon></ion-col>
                </ion-row>
            </ion-card>
            <ion-card *ngIf="swactive" class="start-page-success">
                <ion-row>
                    <ion-col col-10 text-left>Aplikacja jest dostępna offline</ion-col>
                    <ion-col col-2 text-center align-self-center><ion-icon name="cloud-done"></ion-icon></ion-col>
                </ion-row>
            </ion-card>
        </ion-slide>

        <ion-slide >
            <div *ngIf="gameCtrl.team != null">
                <h2>Aktualnie wybrana drużyna</h2>
                <img [src]="'assets/img/teams/'+gameCtrl.team+'.png'"/>
            </div>
            <h2 *ngIf="gameCtrl.team == null">By rozpocząć grę proszę wybrać swoją drużynę.</h2>
            <h2 *ngIf="gameCtrl.team != null">Wybór ten zawsze można zmienić, ale spowoduje to zresetowanie gry.</h2>
            <ion-grid>
                <ion-row>
                    <ion-col col-4 *ngFor="let team of teams">
                        <button ion-button large color="light" (click)="selectTeam(team)">
                            <img [src]="'assets/img/teams/'+team+'.png'"/>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide *ngIf="gameCtrl.team != null">
            <button ion-button block icon-left *ngIf="!gameCtrl.started()" (click)="startGameButtonClicked()">
                <ion-icon name="walk"></ion-icon>
                Zaczynamy Grę!
            </button>
            <button ion-button block icon-left *ngIf="gameCtrl.started()" color="secondary" (click)="continueGameButtonClicked()">
                <ion-icon name="refresh-circle"></ion-icon>
                Kontynuujemy Grę
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>