ion-card.start-page-danger {
    background-color: map-get($colors, danger );
    color: #fff;
    ion-card-header {
        color: #fff;
    }
    padding: 10px;
    margin: 30px;
    width: calc(100% - 60px);
}

ion-card.start-page-success {
    background-color: map-get($colors, secondary);
    color: #fff;
    ion-card-header {
        color: #fff;
    }
    padding: 10px;
    margin: 30px;
    width: calc(100% - 60px);
}

div.start-logo {
    padding: 30px;
}