<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Schnapsen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-row align-items-center>
        <ion-col>
            <ion-card>
                <img src="assets/img/gra-karciana/karty.jpg"/>
                <ion-card-content>
                    <p>Jak pamiętamy, Patrycja została porwana przez austriackich
                    żołnierzy. Prawdopodobnie strzegą jej gdzieś, i trzeba
                    będzie jakoś odwrócić ich uwagę. Jak wiemy jednak z
                    „Przygód Dobrego Wojaka Szwejka”, nic tak nie zajmuje
                    żołnierzy jego cesarskiej mości, jak gra w Sznapsa, u nas
                    znanego jako 66.</p>
                    <p>Siedzicie teraz w barze, macie więc trochę spokoju, by
                    nauczyć się tej gry. Gdybyście mieli później jakieś
                    wątpliwości, do tego ekranu zawsze możecie wrócić – właśnie
                    został dodany do menu, które możecie odsłonić przesuwając
                    palcem z lewej strony ekranu.<p>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    Zasady gry
                </ion-card-header>
                <ion-list>
                    <ion-item>
                        <p item-start>Liczba graczy</p>
                        <p item-end>2-4</p>
                    </ion-item>
                    <ion-item>
                        <p item-start>Talia</p>
                        <p item-end>24 karty, od asa do 9</p>
                    </ion-item>
                </ion-list>
                <ion-card-content>
                    <h1>Przygotowanie do gry</h1>
                    <p>
                        Należy losowo wyłonić rozdającego (np. kto wyciągnie
                        najwyższą kartę). Rozdający tasuje karty i rozdaje
                        wszystkim graczom po sześć kart, a w przypadku gdy jest
                        czterech graczy – po pięć. Rozdający odkrywa wierzchnią
                        kartę i kładzie ją na środku, a na niej resztę talii.
                        Kolor odkrytej karty staje się atutem, zaś pozostałe karty
                        tworzą stos kart zakrytych.
                    </p>
                </ion-card-content>
                <ion-list>
                    <ion-list-header>
                        <h1>Starszeństwo kart i punktacja</h1>
                    </ion-list-header>
                    <ion-item>
                        <p item-start>As (najstarszy)</p>
                        <p item-end>11 punktów</p>
                    </ion-item>
                    <ion-item>
                        <p item-start>10 </p>
                        <p item-end>10 punktów</p>
                    </ion-item>
                    <ion-item>
                        <p item-start>Król</p>
                        <p item-end>4 punkty</p>
                    </ion-item>
                    <ion-item>
                        <p item-start>Dama</p>
                        <p item-end>3 punkty</p>
                    </ion-item>
                    <ion-item>
                        <p item-start>Walet (najmłodszy)</p>
                        <p item-end>2 punkty</p>
                    </ion-item>
                </ion-list>
                <ion-card-content>
                    <hr>
                    <h1>Przebieg rozgrywki</h1>
                    <p>
                        Pierwszy zagrywa kartę gracz siedzący na lewo od
                        rozdającego. Pozostali gracze (w kolejności zgodnej z
                        ruchem wskazówek zegara) dogrywają po jednej karcie.
                        Ten, kto zagrał najstarszą kartę (patrz starszeństwo
                        kart), zabiera lewę. W przypadku zagrania karty z
                        kolorem atutowym, lewę zabiera ten gracz, który ją
                        zagrał. Jeśli zostały zagrane dwie lub więcej kart z
                        kolorem atutowym, wygrywa najstarsza. Następnie wszyscy
                        gracze, poczynając od tego, który zabrał lewę, ciągną
                        po 1 karcie ze stosu kart zakrytych. Gracz, który
                        ostatni zabrał lewę, zagrywa kolejną kartę jako
                        pierwszy. Lewy odkłada się obok siebie zakryte. W
                        momencie, gdy skończą się karty w stosie kart zakrytych
                        (tzn. zostanie pociągnięta ostatnia, w tym odkryty
                        atut), zasady ulegają istotnej zmianie. Odtąd istnieje
                        wyraźny obowiązek dogrywania każdorazowo do koloru
                        pierwszej karty rzuconej na stół. Jeśli gracz nie
                        posiada karty pasującej do koloru, może zagrać dowolną.
                        Kolor atutowy nadal obowiązuje.
                    </p>
                    <hr>
                    <h1>Koniec gry i punktacja</h1>
                    <p>
                        Gra kończy się w momencie, gdy któryś z graczy
                        zdobędzie 66 punktów i oznajmi to swoim partnerom. W
                        innym wypadku gra toczy się do skończenia kart z ręki
                        i wygrywa ten, kto weźmie ostatnią lewę. W trakcie gry
                        każdy z graczy ma prawo wglądu tylko we własne lewy.
                    </p>
                    <hr>
                    <h1>Meldunki</h1>
                    <p>
                        Sposobem na zdobycie dodatkowych punktów w trakcie
                        rozgrywki są tzw. meldunki. Jeśli zagrywający akurat
                        gracz posiada króla i damę tego samego koloru, może to
                        zameldować, zagrywając jedną z tych kart na stół. Taki
                        meldunek jest warty 20 punktów, chyba że są to karty w
                        kolorze atutowym. Wówczas meldunek jest warty 40
                        punktów. Punkty są doliczane natychmiast.
                    </p>
                    <hr>
                    <h1>Podmiana</h1>
                    <p>
                        Jeśli gracz ma 9 w kolorze atutowym, może ją wymienić z
                        kartą atutu leżącą na stole (na spodzie stosu kart
                        zakrytych) i wziąć ją na rękę.
                    </p>
                    <hr>
                    <h1>Duże punkty</h1>
                    <p>
                        Po skończonej partii zwycięzca otrzymuje 1 tzw.
                        <strong>duży punkt</strong> oraz dodatkowy <strong>
                        1 duży punkt</strong> za każdego gracza, który miał w
                        lewach mniej niż trzydzieści trzy punkty. Gracze mogą
                        zagrać ustaloną wcześniej liczbę partii. Ten, kto
                        zbierze najwięcej dużych punktów, wygrywa.
                    </p>
                    <hr>
                    <h1>Usypianie</h1>
                    <p>
                        Dopóki na stosie kart zakrytych są więcej niż dwie
                        karty, każdy z graczy przed zagraniem swojej karty może
                        zakryć, inaczej „uśpić”, stos leżącym na spodzie
                        atutem. Kolor atutowy przestaje obowiązywać. Od tego
                        momentu gracze nie ciągną kart, istnieje zaś obowiązek
                        zagrywania kart do koloru. Oznacza to jednakże
                        zobowiązanie ze strony „usypiającego”, że zdobędzie on
                        w tej rozgrywce 66 punktów. Jeśli tak się stanie,
                        zdobywa trzy (3) <strong>duże punkty</strong>. W
                        przeciwnym razie otrzymuje 3 <strong>ujemne duże punkty
                        </strong> (tzn. odejmowane mu są 3 punkty od
                        całościowej punktacji).
                    </p>
                </ion-card-content>
            </ion-card>

            <button ion-button block icon-left *ngIf="key" (click)="doneClicked()">
                <ion-icon name="heart"></ion-icon>
                Idziemy dalej!
            </button>
        </ion-col>
    </ion-row>
</ion-content>