<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wskazówka</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-row align-items-center style="height: 100%">
        <ion-col>
            <ion-card>
                <ion-card-content>
                    {{ question }}
                </ion-card-content>
            </ion-card>
            <button ion-button block icon-left (click)="showHint()">
                <ion-icon name="help-buoy"></ion-icon>
                Proszę o podpowiedź
            </button>
            <button ion-button block icon-left (click)="pointReached()">
                <ion-icon name="thumbs-up"></ion-icon>
                Dotarliśmy
            </button>
        </ion-col>
    </ion-row>
</ion-content>